header {
  background-color: #F0F8FF;
  padding: 140px 0 100px;
  background-image: url("../img/jumping_cats.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
h1 {
  color: black;
}
h2 {
  color: black;
}
body {
  color: #4a4a4a;
}
p {
  font-size: 20px
}
.first-section ul {
  background-color: #F7F9FC;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;
}
.first-section li {
  margin-bottom: 8px
}
.first-section {
  background-color: white;
}

.first-section img{
  margin-bottom: 35px;
}

.section {
  padding: 60px 0 40px;
}
@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}
@@media (min-width: 574px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 100px) {
  .section {
    padding: 100px 0;
  }
}
@media (min-width: 576px) {
  header {
    padding: 200px 0;
  }
}
.second-section {
  background-color: #FBFBFB;
}
.second-section p {
  color: #9DA2A6;
}
.second-section img {
  height: 75px;
  width: 75px;
  margin: 25px 0 10px;
}
.nav-item {
  margin: 10px 16px;
}
.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}
